* {
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
body{
   background: #00bcd4;
}
.login-container{
    margin-top: 184px;
}
.signup-container{
    padding: 85px;
}
.signup-form{
    padding: 85px;
}
.uppercase-first{
    text-transform: capitalize;
}
